@import "tailwindcss";
@plugin "@tailwindcss/typography";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #f5f5f5;
  --foreground: #3b3b3b;
  --border: #d1d5db;
  --scrollbar: #c1c1c1;
  --gnb-width: 250px;
}

:root[data-theme="light"] {
  --background: #f5f5f5;
  --foreground: #3b3b3b;
  --scrollbar: #c1c1c1;
  --border: #d1d5db;
}

:root[data-theme="dark"] {
  --background: #181818;
  --foreground: #eee;
  --scrollbar: #4b5563;
  --border: #373737;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer utilities {
  .scrollbar-hide {
    &::-webkit-scrollbar {
      display: none;
    }
    scrollbar-width: none;
  }
}

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Champignon";
  src: url("/fonts/Champignon.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FiraCode";
  src: url("/fonts/FiraCode-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

html,
body {
  height: auto;
  /* overflow-x: hidden; */
  overscroll-behavior: none; /* 바운스 방지 */
}

body {
  background: var(--background);
  color: var(--foreground);
  transition: background-color 0.3s, color 0.3s;
  font-family: "Pretendard", system-ui, sans-serif !important;
}

body.gnb-collapsed {
  --gnb-width: 20px;
}

main {
  height: auto;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; /* iOS 부드러운 스크롤 */
}

aside::-webkit-scrollbar {
  width: 2px;
}
aside::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar);
  border-radius: 4px;
}

.fixed-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
  transform: translateZ(0); /* iOS에서 layout shift 방지 */
}

.prose h1,
.prose h2,
.prose h3 {
  font-size: 1.5rem;
  font-weight: 700;
  scroll-margin-top: 4rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--border);
}

.prose p {
  margin: 0.5rem 0;
  font-size: 1rem;
  font-weight: 400;
}

pre code {
  counter-reset: line;
  padding-left: 2em;
  font-family: "FiraCode", system-ui, sans-serif;
  font-weight: 500;
}

pre code span[data-line] {
  display: block;
  padding-left: 1em;
  position: relative;
}

/* 라인 번호 스타일 */
pre code span[data-line]::before {
  content: counter(line);
  counter-increment: line;
  position: absolute;
  left: 0;
  top: 0;
  color: #888;
  padding-right: 1em;
  font-size: 0.9em;
  text-align: right;
  width: 2.5em;
  line-height: 1.5em;
  background-color: transparent;
  margin-left: -3em;
  padding-top: 0.2em;
}

pre code span[data-highlighted-line] {
  @apply border-l-2 border-y-0
  border-blue-500 bg-slate-700 pl-[calc(1rem-2px)];
}

pre code[data-line-numbers-max-digits="2"] > span[data-line]::before {
  width: 1.25rem;
}
pre code[data-line-numbers-max-digits="3"] > span[data-line]::before {
  width: 1.75rem;
}

pre code button.rehype-pretty-copy {
  @apply w-7 h-7;
}

pre code button.rehype-pretty-copy .ready {
  @apply cursor-pointer;
  background: url("/icons/copy.svg") no-repeat center;
}

figcaption[data-rehype-pretty-code-title] {
  @apply px-5 py-3 font-mono text-sm font-bold bg-[#22272e] border-b-1 border-gray-600 rounded-t-lg text-gray-300;
}
figcaption[data-rehype-pretty-code-title] + pre {
  @apply mt-0 rounded-t-none;
}
