name: dependency

on:
  pull_request:

jobs:
  dependency:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v3
        with:
          version: 9

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Collect licenses
        run: |
          pnpm add -D license-checker
          pnpm exec license-checker \
            --json \
            --out dependency-licenses.json
        continue-on-error: true

      - name: Upload license artifact
        if: ${{ hashFiles('dependency-licenses.json') != '' }}
        uses: actions/upload-artifact@v4
        with:
          name: dependency
          path: dependency-licenses.json
