name: lint

on:
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Install dependencies
        run: npm ci

      - name: Run ESLint
        run: |
          npx eslint . \
            --format json \
            --output-file eslint-report.json
        # eslint 에러가 있어도 workflow는 계속 진행
        continue-on-error: true

      - name: Upload eslint artifact
        uses: actions/upload-artifact@v4
        with:
          name: eslint
          path: eslint-report.json
