name: lint

on:
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v3
        with:
          version: 9

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Run ESLint
        run: |
          pnpm exec eslint . \
            --format json \
            --output-file eslint-report.json
        continue-on-error: true

      - name: Upload eslint artifact
        uses: actions/upload-artifact@v4
        with:
          name: eslint
          path: eslint-report.json
